<template>
  <section class="container">
    <div>Hello!</div>
    <p v-if="post">{{ post.data }}</p>
    <button @click="test">
      login
    </button>

    <a href="/api/auth/facebook">Login 2</a>
  </section>
</template>

<script>
import axios from 'axios'
export default {
  data: function() {
    return {
      post: null
    }
  },
  components: {},
  methods: {
    async test() {
      let user = await axios.get('/api/auth/facebook', '', {
        headers: {
          'Content-Type': 'application/json',
          'Access-Control-Allow-Origin': '*'
        }
      })

      console.log(user)
    }
  },

  async mounted() {
    // let userData = JSON.stringify({
    //   password: 'secret',
    //   email: 'feathers@example.com',
    //   strategy: 'local'
    // })
    // let user = await axios.post('/api/authentication/', userData, {
    //   headers: {
    //     'Content-Type': 'application/json'
    //     // 'Access-Control-Allow-Origin': '*'
    //   }
    // })
    // let token = user.data.accessToken
    // // console.log(token)
    // this.post = await axios.get('/api/posts/', {
    //   headers: {
    //     'Content-Type': 'application/json',
    //     Authorization: token
    //     // 'Access-Control-Allow-Origin': '*'
    //   }
    // })
  }
}
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
